.homeWrapper {
  display: flex;
  width: 50vw;
  flexdirection: column;
  justifycontent: center;
  alignitems: center;
}
.homeTitle {
  display: flex;
  position: relative;
  justify-content: center;
  top: -50px;
  left: 8em;
}

.homeButtonWrapper {
  display: flex;
  gap: 30px;
  margintop: 40px;
}

.homeButton {
  display: flex;
  position: relative;
  fontsize: 35px;
  width: 100%;
  padding: 40px;
}
