.component-backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100px;
    padding: 5px;
    top: 0;
    left: 0;
    background-color: var(--component-loader-backdrop);
    backdrop-filter: blur(13px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.component-loader{
    width: clamp(100px, 15vw, 130px);
    border-width: clamp(5px, 15vw, 15px);
}
.page-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.page-loader{
    width: clamp(130px, 20vw, 250px);
    border-width: clamp(5px, 20vw, 23px);
}
.dark-loader-style{
    border-radius: 100%;
    background: transparent;
    aspect-ratio: 1;
    border-color:var(--loader-track-color);
    border-top-color:var(--loader-thumb-color);
    border-style: solid;
    display: flex;
    animation: 1s loader-animation infinite forwards ease-in-out;
}


@keyframes loader-animation {
    100%{
        rotate: 360deg;
    }
}